body{
    font-family: 'Roboto', sans-serif;
}
/*PORTADA INICIO*/
.portada{
    background-image: url("../imagenes/contac.jpg");
    background-size: cover;
    background-position: center 15%;
    height: 300px;
}
.portada__titulo{
    background-color: rgba(0, 0, 0, 0.3);
    height: auto;
    height: 66%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    color: wheat;
    font-size: 40px;
}
.portada__titulo h1{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding: 5px;
    height: 10px;
}
.navbar{
    background-color: rgba(57, 54, 54, 0.5);
}
/*FIN PORTADA*/
@media (max-width: 1366px){
    .portada{
        background-position: center -0%;
    }
}

/* PAGINAS */
.pagina{
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    padding-bottom: 2px;
    gap: 10px;
    width: 100%;
    background-color: rgba(57, 54, 54, 0.5);
}
.pagina a{
    color: aliceblue;
    
    
}
/* FIN PAGINAS */



/*CONTACTO FORMULARIO*/
.formulario{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
form{
    background-color: rgba(57, 54, 54, 0.7);
    color: aliceblue;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
label{
    font-size: 25px;
    
}
input{
    border-radius: 5px;
    border-width: 0px;
    background-color: rgb(229, 234, 240);
    width: 300px;
    height: 30px;
    padding: 5px;
}
div{
    display: flex;
    flex-direction: column; 


}
.grupo label{
    display: flex;
    align-items: center;
    margin-bottom: 5px
}
.radio{
    background-color: rgb(205, 211, 217);
    width: 100px;
}
.correccion{
    resize: none;
    border-radius: 5px;
    border-width: 0px;
    background-color:  rgb(229, 234, 240);
    padding: 5px;
    font-size: 20px;
    height: 100px;
}
button{
    background-color: yellowgreen;
    color: black;
    font-size: 20px;
    border-radius: 25px;
    border-width: 2px;
    height: 50px;
    align-self: center;
    width: 200px;
}
span{
    color:black ;
    font-weight: bolder;
    background-color:  yellowgreen;
    width: 300px;
    border-radius: 5px;
    padding: 2px;
}
/*FIN CONTACTO FORMULARIO*/

/* CONFIRMACION */
.confirmar{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    position: absolute;
    background-color: rgba(57, 54, 54, 1);
    top: 50%;
    left: 35%;
    padding: 10px;

}
.confirmar h2{
    color:  yellowgreen;
    text-align: center;
}
.boton{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    gap: 30px;
    justify-content: center;
}
.boton button{
    height: 30px;
}
.confirmar p{
    color: aliceblue;
    font-size: 20px;
    text-align: justify;
    font-weight: bolder;
}
/* FIN CONFIRMACION */

/* CARTEL */
.resultado{
    position: absolute;
    top: 31%;
    left: 37%;
    background-color: rgba(57, 54, 54, 0.8);
    color:azure;
    padding: 10px;
    border-radius: 10px;
}