*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
.fondo{
    background-image: url(../imagenes/landscape2.png);
}
header{
    position: sticky;
    top: 0px;
    z-index: 1;
}
nav.navbar{
    display: flex;
    gap: 100px;
    justify-content: center;
    background-color: rgba(57, 54, 54, 0.5);

}
img.navbar--img{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 250px;
    height: 100px;
    
   
}
h1.navbar__h1{
    padding-top: 30px;
    font-size: 35px;
}
a.navbar__h1--link{
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: all .3s;
}
a.navbar__h1--link:visited{
    color: rgb(255, 255, 255);
}
a.navbar__h1--link:hover{
    text-shadow:  1px 1px 2px rgb(218, 221, 141), 0 0 1em rgb(231, 214, 91), 0 0 0.2em rgb(218, 221, 141);
    font-size: 36px;
}