/*PORTADA INICIO*/
.portada{
    background-image: url("../imagenes/landlost2.jpg");
    background-size: cover;
    background-position: center -100%;
    height: 300px;
}
.portada__titulo{
    background-color: rgba(0, 0, 0, 0.3);
    height: auto;
    height: 66%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    color: wheat;
    font-size: 40px;
}
.portada__titulo h1{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding: 5px;
    height: 10px;
}
.navbar{
    background-color: rgba(57, 54, 54, 0.5);
}
/*FIN PORTADA*/

/* PAGINAS */
.pagina{
    display: flex;
    padding-left: 10px;
    padding-bottom: 2px;
    gap: 10px;
    width: 100%;
    background-color: rgba(57, 54, 54, 0.5);
}
.pagina a{
    color: aliceblue;
    
    
}
/* FIN PAGINAS */

/*PLANTILLAS*/
.plantilla{
    margin-top: 20px;
    z-index: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    display: grid;
    grid-template-areas: 
    "plantUno plantDos plantTres"
    "plantCuatro plantCinco plantSeis"
    ;
    gap: 10px;
            padding-left: 10px;
            padding-right: 10px;


}
.plantUno{
    grid-area: plantUno;
}
.plantDos{
    grid-area: plantDos;
}
.plantTres{
    grid-area: plantTres;
}
.plantCuatro{
    grid-area: plantCuatro;
}
.plantCinco{
    grid-area: plantCinco;
}
.plantSeis{
    grid-area: plantSeis;
}
div.plantilla__divisor{
    width: 99%;
    height: 400px;
    position: relative;
}

img.plantilla__divsor--img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
div.plantilla__divisor__tipo{
    position: absolute;
    background-color: rgba(185, 177, 177, 0.5);
    top: 10px;
    right: 10px;
    border-radius: 5px;
    padding: 2px;
    
}
div.plantilla__divisor__sub{
    background-color: rgba(185, 177, 177, 0.5);
    font-size: 20px;
    justify-content: space-around;
    position: absolute;
    z-index: 1;
    bottom: 1px;
    width: 100%;
    display: grid;
    grid-template-areas: 
        "precio  caracterUno caracterDos"
        "precio caracterTres caracterCuatro"
        ;
    height: 70px;
    justify-content: center;
    align-items: center;    
    gap: 5px;
    height: 100px;
    padding-left: 2px;
    padding-right: 2px;
}

    .plantilla__divisor__sub--precio{
        grid-area: precio;
    }
    .uno{
        grid-area: caracterUno;
    }
    .dos{
        grid-area: caracterDos;
    }
    .tres{
        grid-area: caracterTres;
    }
    .cuatro{
        grid-area: caracterCuatro;
    }

    /* RESPONSIVE PLANTILLAS */
    @media (max-width: 1366px){
        .plantilla{
            padding: 0px;
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    